div
  chess-nestable-move-rule-display(ng-if="isNestable(rule)" chess-rule="rule"
    chess-display-movement-vectors="displayMovementVectors")
  div(ng-if="rule.type === 'exchange'")
    chess-nestable-move-rule-display(chess-rule="rule.params.regularMove"
      chess-display-movement-vectors="displayMovementVectors")  
    p Exchange with {{game.pieceTypes[rule.params.type].name}}
  div(ng-if="rule.type === 'retreat'")
    chess-nestable-move-rule-display(chess-rule="rule.params.regularMove"
      chess-display-movement-vectors="displayMovementVectors")
    p Retreat to first row {{rule.params.squares === 'both' ? '' : rules.params.squares + ' squares'}}
  div(ng-if="rule.type === 'movecapture'")
    p <u>Move</u>
    chess-nestable-move-rule-display(chess-rule="rule.params.move"
      chess-display-movement-vectors="displayMovementVectors")
    p <u>Capture</u>
    chess-nestable-move-rule-display(chess-rule="rule.params.capture"
      chess-display-movement-vectors="displayMovementVectors")
  div(ng-if="rule.type === 'combination'")
    p <u>Combination</u>
    chess-nestable-move-rule-display(chess-rule="rule.params.first"
      chess-display-movement-vectors="displayMovementVectors")
    chess-nestable-move-rule-display(chess-rule="rule.params.second"
      chess-display-movement-vectors="displayMovementVectors")
